@page "/team"
@using BlazorAppForClient.Interfaces;
@using BlazorAppForClient.ViewModels;
@inject ITeamService _teamservice

<PageTitle>Team</PageTitle>


<h1>сторінка на якій буде знаходитися інформація про команду</h1>
@if(mechanics is not null)
{
    @foreach(var Mechanic in mechanics)
    {
        <div>
            <hr>
        <h3>@Mechanic.firstName @Mechanic.lastName</h3>
        <h3>@Mechanic.specialization</h3>
    </div>
    
    }


}





@code{
    [Parameter]
    public List<MechanicViewModel> mechanics{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        mechanics = (List < MechanicViewModel >) await _teamservice.GetAllAsync();

        
    }

}